@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The ERI Zoo was created in 2016 by Brent Ransom in an effort to recreate viable extinct animals from 
    fossilized amber containing preserved mosquito DNA.</p>
