@model IEnumerable<EriZoo.ViewModels.AnimalGroup>

<h2>@ViewBag.Title</h2>

<table border="1" cellpadding="5">
    <tr>
        <th>
            Animal
        </th>
        <th>
            #
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.AnimalName
            </td>
            <td>
                @item.AnimalCount
            </td>
        </tr>
    }
</table>
